* {
    font-size: 20px;
    font-family: monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#formula {
    margin: 15px;
}

.button {
    margin: 5px auto;
}

#formulaInput, #answerInput {
    overflow: hidden;
    width: 300px;
}

#resultSection, #testSection {
    display: none;
}